body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0080de;
    background-image: linear-gradient(90deg, #0080de 0%, #ff0004 100%);

    
}

header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    border-bottom: 5px ridge;
    background-color: bisque;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outcometext {
    font-size: larger;
    font-weight: 600;
}

footer {
    position: absolute;
    bottom: 0;
    color: antiquewhite;
}

.container {
    
    display:grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.field {
    height: 200px;
    width:  200px;
    background-color: lightgrey;
}

.field:hover {
    background-color: grey;
    cursor: pointer
}

.Blue, .blue {
    background-color: blue;
    color: white;
    border-radius: 30%;
}

.Red, .red {
    background-color: red;
    border-radius: 30%;
}