body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    border-bottom: 5px ridge;
    background-color: bisque;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer {
    position: absolute;
    bottom: 0;
}

.container {
    
    display:grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.field {
    height: 100px;
    width:  100px;
    background-color: lightgrey;
}

.field:hover {
    background-color: grey;
    cursor: pointer
}

.one {
    background-color: blue;
}

.two {
    background-color: red;
}